// Since all rem values are calculated off the root, we need to make sure this value is set to 16px so bootstrap's
// calculations are made properly.
:root {
    font-size: 16px;
}

.my-styles-root {
    // This fixes an issue with modal dialogs not being displayed correctly when the encapsulating class is applied:
    &.modal {
        height: auto;
        min-height: auto;
        background-color: transparent;
        position: fixed;
    }
}
